.comparator {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.opportunityName {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.money {
  background: #383b40;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.money label {
  color: #cddc39;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.moneyContent {
  align-items: center;
  color: #a7b5b7;
  display: flex;
  justify-content: center;
}

.amount {
  color: #ffffff;
}

.money div {
  margin: 0 3px;
}

.container {
  width: 100%;
}

a {
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: space-evenly;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.organization {
  padding: 10px 0;
}

.logo {
  overflow: hidden;
  width: 100%;
}

.logo img {
  border-radius: 50%;
  height: 60px;
}

.name {
  margin-top: 5px;
}

h4 {
  color: #cddc39;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.skills {
  padding: 10px;
}

.strengths {
  /*background: pink;*/
  padding: 10px;
}

.itemsContent {
  height: 150px;
  overflow: auto;
}

.items {
  margin: 10px 8px 8px 0;
  white-space: normal;
  height: auto;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 32px;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  background-color: rgba(255,255,255,.16);
}
